@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');
*{
    font-family: 'Noto Sans HK', sans-serif;
    word-break: break-all;
}
body{
    background-color: #555;
    margin: 0;
}
table, tr, td{
    padding: 0;
}
div.leftside{
    text-align: center;
    padding: 30px;
        background-color: #EFEFEF;
        border-top-right-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        overflow: auto;
    width: 15vw;
        height: 89.8vh;
}
div.rightside{
    color: #EFEFEF;
    padding: 30px;
    background-color: #555;
    overflow: auto;
    width: 74.4vw;
    height: 89.8vh;
}
img.icon{
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
}
.button{
    border-color: #EFEFEF;
    border-style: solid;
    border-radius: 1cm;
    background-color: #EFEFEF;
    padding: 1vh;
    text-decoration: none;
    color: #555;
    margin-right: 1vw;
    cursor: pointer;
}
.buttoninverted{
    border-color: #555;
    border-style: solid;
    border-radius: 1cm;
    background-color: #555;
    padding: 1vh;
    text-decoration: none;
    color: #EFEFEF;
    margin-right: 1vw;
    cursor: pointer;
}
.button:hover{background-color: #555;color: #EFEFEF;}
.buttoninverted:hover{background-color: #EFEFEF;color: #555;}
h4{
    margin-left: 1.5vw;
    margin-bottom: 0;
}
p{margin-top: 0;}
td{vertical-align: top;}
small{font-size: .25cm;}
div.sleftside{
    text-align: center;
    background-color: #EFEFEF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
    width: 10vw;
    height: 89.8vh;
}
img.sicon{
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
}
.slsbutton{
    border-color: #555;
    border-style: solid;
    border-radius: 1cm;
    background-color: #555;
    padding: 1vh;
    text-decoration: none;
    color: #EFEFEF;
    cursor: pointer;
}
.link{color: #DDD; text-decoration: none;}
parg{margin: 0; padding: 0; margin-left: 1rem; }