@import url(https://funnsam.github.io/TiJAWS-is-Just-Another-Web-Style/pc/main.css);
@import url(https://funnsam.github.io/TiJAWS-is-Just-Another-Web-Style/mob/main.css);
@import url(https://funnsam.github.io/TiJAWS-is-Just-Another-Web-Style/chkbox.css);
@import url(https://funnsam.github.io/TiJAWS-is-Just-Another-Web-Style/radio.css);
@import url(https://funnsam.github.io/TiJAWS-is-Just-Another-Web-Style/texts.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
/*Import Style Files and Open Sans Font*/
*{
    --color-bg: #21897E;
    --color-navbar: #7469F2;
    --color-btn: #7469F2;
    --color-btn-rev: #3BA99C;
    --color-txt: #DDEDF8;
    --color-txt-rev: #69D1C5;
    --color-link: #69D1C5;
    --icon-size: 10vw;
    --color-chkbox-bg: #7469F2;
    --color-chkbox-bg-chked: #69D1C5;
    --color-chkbox-mark: #DDEDF8;
}
/*21897e-3ba99c-69d1c5-ddedf8-7469f2*/